@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: #530054;
  transform-origin: 0%;
  height: 10px;
}

/* .swiper-button-next {
  font-size: 20px !important;
  right: 0;
  color: purple;
}

.swiper-button-prev {
  font-size: 20px !important;
  color: purple;
  position: absolute;
  left: -20px;
  z-index: 10000;
} */

.swiper-slide {
  font-size: 18px;
}
